
<html lang="en">
        <head>
         
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body> 
        <div class="well">
            <a routerLink="/lugares">Lugares</a> /{{contenedor.nombre}}
            </div>
            <div class="container">
                <h1> {{contenedor.nombre}} </h1>
                <hr/>
                <small> {{contenedor.distancia}} km </small>
                <br/>
                    <div class="well">
                        <p>
                            {{contenedor.description}}
                        </p>
                        <b>Suscripcion: {{contenedor.plan}}</b>
                    </div>
        </div>
</body> 