<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">

  <h1>
   Bienvenido a {{ title }}!
  </h1>
  <h2>
    {{a+b}}
  </h2>
  <hr/>
  <button [disabled] = "!listo" (click)= "hacerAlgo()"> click me!</button>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
 <hr/>
 <input type="text" placeholder = "tu nombre" [(ngModel)]= "nombre">
 <input type="text" placeholder="nombre 2" [(ngModel)]="nombre2" >
 <br>
<p>mi nombre es {{nombre}} </p>
<p>el segundo nombre es {{nombre2}} </p>
  <br>

  juntando los 2 nombres {{nombre + nombre2 }}

</div>-->


<!--se enlistas los elementos que se van a mostrar 
<ul>
  <li>Floreria las Rosas</li>
  <li>Donas la pesadita</li>
  <li>Veterianaria las Huellitas Felices</li>
</ul> -->

<!--en vez de poner toda la lista lo que se hace es poner 
  un ciclo el cual se como ngFor-->
<!--
  <ul>
    <li *ngFor= "let lugar of lugares"> {{lugar.nombre}} </li>-->
 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> PlatziSquare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/contacto">Contacto</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-ringht">
            <li><a routerLink = "/login" >Login</a></li>
            <li><a routerLink = "/registro" >Registro</a></li>
          </ul>
        </div>
      </nav>
    
  <!--para cargar los mapas tenemos el siguiente codigo-->
 
    <router-outlet></router-outlet>
    
<!--
<ul>
    se crea un nuevo contenedor para asi poder poner 2 directivas 
   <ng-container *ngFor = "let lugar of lugares; let i=index" [ngSwitch]="lugar.cercania">
    
      <a>
        <li  contar-clicks [ngStyle]="{color:(lugar.active) ? 'black' : 'gray'}" [ngClass]= "{numero_par: (i+1) % 2 !==0}" [resaltar]= "lugar.plan">
          {{lugar.nombre}} -
          <span *ngSwitchCase="1" [ngStyle]="{color:' rgb(179, 32, 57)'}">Muy cercano</span>
          <span *ngSwitchCase="2"  [ngStyle]="{color:'rgb(184, 51, 189)'}">Cercano</span>
          <span *ngSwitchCase="3"  [ngStyle]="{color:'rgb(51, 189, 97)'}">Lejano</span>
        </li>
      </a> 
      </ng-container>
  </ul>-->